# Question 1: 

George Felobes 

Data Analyst Position at Wood Mackenzie

#### Import libraries used in the problem

In [2]:
import pandas as pd

Import Data

In [4]:
prod_data = pd.read_excel(r"Assessment\1. Python Asset prodn sum by BkEven June 2019.xlsx", sheet_name = "Production_Vol")
price_inputs = pd.read_excel(r"Assessment\1. Python Asset prodn sum by BkEven June 2019.xlsx", sheet_name = "Price_Inputs")

In [5]:
prod_data.head()

     ASSET  BREAKEVEN   1   2   3  4  5
0  Asset 1         30  50  20  10  5  5
1  Asset 2         40  50  20  10  5  5
2  Asset 3         55  50  20  10  5  5
3  Asset 4         75  50  20  10  5  5
4  Asset 5         80  50  20  10  5  5

In [8]:
price_inputs.head()

   YEAR  PRICE_INPUT
0     1           40
1     2           50
2     3           60
3     4           70
4     5           80

A. Convert  the production volumes data into a format that can be easily joined to price inputs. (HINT: you will want to join based on YEAR in both datasets i.e. 1,2,3,4,5)

In [15]:
prod_data_formatted = prod_data.melt(id_vars=["ASSET", "BREAKEVEN"], 
        var_name="YEAR", 
        value_name="Value")
prod_data_formatted.head()

     ASSET  BREAKEVEN YEAR  Value
0  Asset 1         30    1     50
1  Asset 2         40    1     50
2  Asset 3         55    1     50
3  Asset 4         75    1     50
4  Asset 5         80    1     50

B. Join  data from Production_Vol  to Price_Inputs.

In [24]:
merged_data = pd.merge(prod_data_formatted, price_inputs, on = "YEAR")
merged_data.head()

     ASSET  BREAKEVEN YEAR  Value  PRICE_INPUT
0  Asset 1         30    1     50           40
1  Asset 2         40    1     50           40
2  Asset 3         55    1     50           40
3  Asset 4         75    1     50           40
4  Asset 5         80    1     50           40

C. Filter then sum data for Year 3 production volumes.

In [32]:
filter_condition = (merged_data["YEAR"] == 3) & (merged_data["BREAKEVEN"] < merged_data["PRICE_INPUT"])
summed_df = merged_data[filter_condition].sum()
summed_df

ASSET          Asset 1Asset 2Asset 3
BREAKEVEN                        125
YEAR                               9
Value                             30
PRICE_INPUT                      180
dtype: object

In [34]:
print(f"The sum of the production in year 3 where the breakeven price is less than price input is {summed_df['Value']}")

The sum of the production in year 3 where the breakeven price is less than price input is 30